body{
    font-family: 'Verdana' sans-serif;
    background-color: #F2FAFF;
    color: #244357;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #004A94;
    text-shadow: 3px 3px 8px rgba(0, 74, 148, 0.3);
    border: 2px solid #004A94;
    border-radius: 8px;
    padding: 12px;
    display: inline-block;
    background-color: #82C2E3;
    font-family: 'Georgia', 'Merriweather', 'Archer', serif;
}

h3 {
    font-style: italic;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #004A94;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-family: 'Georgia', 'Merriweather', 'Archer', serif;
}

button {
    margin-right: 20px;
    background-color: #82C2E3;
    color: #244357;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #004A94;
    color:#F2FAFF;
    box-shadow: 3px 3px 8px rgba(0, 74, 148, 0.3);
}


.gallery-container{
    text-align: center;
    padding: 30px;
    background-color: #E3F5FF;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.images{
    display: flex;
    justify-content: center;
}

.images img{
    opacity: 0.7;
    margin-right: 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;    
}

.images img:hover{
    opacity: 1;
    transform: scale(1.1);
}

.section-buttons {
    text-align: right;
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.section-buttons button {
    padding: 10px 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
}